{% extends 'base.html.twig' %}

{% block title programmation.artiste %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if programmation.filename %}
                        <img class="card-img-top" src="{{ vich_uploader_asset(programmation, 'imageFile') | imagine_filter('medium') }}" style="object-fit: cover; object-position: top; width: 100%; height: auto;"/>
                    {% else %}
                        <img class="card-img-top" src="{{ '/images/programmations/empty.jpg' | imagine_filter('medium') }}" style="object-fit: cover; object-position: top; width: 100%; height: auto;"/>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ programmation.artiste }}</h1>
                    <p>{{ programmation.description }}</p>
                    <a href="#" class="btn btn-primary">Contacter les programmateurs</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-d-8">
                <h2>Détails</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Adresse de la scène</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jour de passage</td>
                        <td>{{ programmation.jourType }}</td>
                    </tr>
                    <tr>
                        <td>Heure de passage</td>
                        <td class="text-primary" style="font-weight: bolder; font-size: 2rem;">{{ programmation.heure | date('H')}} h {{ programmation.heure | date('i') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

